[profile.default]
evm_version = "cancun"
cbor_metadata = true
src = "src"
out = "out"
script = "script"
libs = ["node_modules", "lib"]
fs_permissions = [{ access = "read", path = "out-optimized" }, { access = "read-write", path = "gas_calculations" }]
allow_paths = ["*", "/"]
gas_limit = "18446744073709551615"
memory_limit = 2147483648
verbosity = 3

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}" 


[fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[etherscan]
unknown_chain = { key = "${TENDERLY_KEY}", chain = 73578453, url = "https://virtual.base.eu.rpc.tenderly.co/fbbf0f8d-8827-488f-8289-5ee7872695d8/verify" }
